.total-home-score-widget {
  color: $dark-gray;
  line-height: 1.25rem;
  max-width: 900px;
  min-width: 360px;
}

.total-home-score-intro {
  padding: 0.25rem;
}

.total-home-score-footer {
  background-color: rgba(black, 0.03);
  border: 1px solid rgba(black, 0.125);
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;

  & > * {
    margin-left: 1rem;
  }
}

.ths-score-card {
  border: 1px solid rgba(black, 0.125);
  border-bottom: none;
  display: flex;
  flex: 1 1 100%;
  height: 15rem;
  padding: 1.33rem 1.33rem;

  @include small-view {
    height: 28rem;
    position: relative;
    flex-direction: column;
    padding: 2rem;
  }

  .score-overview-container {
    display: flex;
    height: 100%;
    width: 25%;
    flex-direction: column;
    justify-content: center;

    .fa-question-circle {
      margin-left: 5px;
    }
  }

  .score-details-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    line-height: 1.25;
    margin-top: 0.5rem;

    .score-level-description {
      margin-bottom: 0.5rem;

      @include small-view {
        position: absolute;
        top: 1rem;
        left: 25%;
        margin-top: 4rem;
        margin-left: 3rem;
      }
    }
  }
}

.score-circle-container {
  margin-bottom: 1.5rem;
}

.score-level-container {
  margin-bottom: 1rem;
}

.ths-score-tab,
.ths-score-tab-selected {
  background-color: rgba(black, 0.03);
  border: 1px solid rgba(black, 0.125);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem;
  width: 100%;
  flex-shrink: 2;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &:nth-last-child(2) {
    margin-right: -1px;

    @include medium-view {
      border-right: 1px solid rgba(black, 0.125);
    }
  }

  &:first-child {
    border-left: 0px;
  }

  &:nth-child(2) {
    border-left: 0px;

    @include medium-view {
      border-left: 1px solid rgba(black, 0.125);
    }
  }

  &-selected {
    background-color: white;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
  }
}

.ths-score-tab {
  &:nth-last-child(2) {
    border-right: 0px;

    @include medium-view {
      border-right: 1px solid rgba(black, 0.125);
    }
  }
}

.ths-score-tab-container {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid rgba(black, 0.125);
  border-right: 1px solid rgba(black, 0.125);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @include medium-view {
    border-left: none;
    border-right: none;
    position: relative;
    z-index: 1;
  }
}

.score-factor-details {

  @include small-view {
    margin-left: 2rem;
  }

  .score-factor-list {
    margin-top: 0.25rem;
    margin-left: -2rem;
  }
}

.score-level-title {
  text-align: center;

  @include small-view {
    top: 0;
    left: 25%;
    position: absolute;
    margin-top: 3rem;
    margin-left: 3rem;
  }
}
