$score-colors: (
  low: $red,
  below-average: $orange,
  average: $yellow-green,
  above-average: $green-light,
  high: $green
);

@each $level, $color in $score-colors {
  .score-#{$level} {
    background-color: $color;
  }
  .score-#{$level}-text {
    color: $color;
    font-weight: bold;
  }
}

.score-circle {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  color: $white;
  line-height: 8rem;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 0 auto;
}
