.score-circle {
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  color: $white;
  line-height: 4.25rem;
  text-align: center;
  font-size: 2.125rem;
  font-weight: bold;
  margin: 0 auto;
}

.score-low {
  background-color: $red;
}

.score-below-average {
  background-color: $orange;
}

.score-average {
  background-color: $yellow-green;
}

.score-above-average {
  background-color: $green-light;
}

.score-high {
  background-color: $green;
}
