.score-factor-list {
  & > li {
    font-weight: lighter;
  }
}

.score-level-title,
.score-factors-title,
.total-home-score-footer {
  font-weight: bold;
}

.score-level-description {
  font-weight: bold;

  @include small-view {
    font-weight: normal;
  }
}

.score-title {
  border-bottom: 1px solid $light-gray;
  font-weight: bold;
  margin-bottom: 1rem;
  padding-bottom: 0.4rem;

  & > span {
    margin-left: 1rem;
    margin-right: 0.25rem;
  }
}

.fa-question-circle {
  line-height: unset;
}

.ths-score-tab,
.ths-score-tab-selected {
  text-align: center;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1.25;

  .score-tab-name {
    font-weight: lighter;
    font-size: 1.5rem;
  }
}

.thumbs-up {
  margin-left: 2rem;
}

.thumbs {
  stroke: $dark-gray;
  cursor: pointer;

  &:hover {
    fill: $dark-gray;
  }

  &.selected {
    fill: $dark-gray;
  }
}

.ths-score-tab-previous,
.ths-score-tab-next {
  align-self: center;
  display: none;
  cursor: pointer;
  text-align: center;
  width: 24px;

  & > .arrow {
    fill: $dark-gray;
    height: 2rem;
  }

  &.disabled {
    cursor: auto;

    & > .arrow { 
      fill: $light-gray;
    }
  }

  &.visible {
    display: block;
  }
}

.ths-score-tab-previous {
  margin-right: 5px;
}

.ths-score-tab-next {
  margin-left: 5px;
}
